body {
  font-family: Arial, sans-serif;
  background: #f5f6fa;
  margin: 0;
}

.container {
  max-width: 500px;
  margin: 50px auto;
  background: white;
  padding: 20px;
  border-radius: 10px;
}

h1 {
  text-align: center;
}

.input-section {
  display: flex;
  gap: 10px;
}

.input-section input {
  flex: 1;
  padding: 10px;
}

.input-section button {
  padding: 10px;
  background: green;
  color: white;
  border: none;
  cursor: pointer;
}

.task {
  display: flex;
  justify-content: space-between;
  background: #eee;
  padding: 10px;
  margin-top: 10px;
}

.completed {
  text-decoration: line-through;
  color: gray;
}

.no-task {
  text-align: center;
  color: gray;
}